<div class="alert alert-{{default type "info"}} alert-dismissible fade in" role="alert">
	<button type="button" class="close" data-dismiss="alert" arial-label="close">
		<span>&times;</span>
	</button>
	<strong>{{{message}}}</strong>
</div>
